<div class="background-effect">
    <table style="width: 100%; background: linear-gradient(to top, #09203f 0%, #537895 100%);">
        <tbody>
            <tr>
                <td style="width: 8%; padding: 10px 0px 17px 25px;" align="left">
                </td>
                <td style="text-align: center; padding: 20px; width: 90%">
                    <table style="width: 100%">
                        <tbody>
                            <tr>
                                <td>
                                    <label style="
                        color: white;
                        vertical-align: middle;
                        font-family: Arial;
                        font-weight: bolder;
                        font-size: 20px;
                      ">
                      IMD Rainfall Information System (iRAINS)</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label style="
                        color: white;
                        vertical-align: middle;
                        font-family: Arial;
                        font-weight: bolder;
                        font-size: 18px;
                      ">
                      Hydromet Division</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <div class="button">
                        <button class="Back">Back</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="text-center text-primary mt-2">STATE WISE RAINFALL MAP
    </h2>

    <div class="row mt-4">
        <div class="col-sm-4 ">
        </div>
        <div class="col-sm-4 ">
            <select class="form-control" (change)="onChangeState($event)">
            <option selected>Select State</option>
            <option>ANDAMAN & NICOBAR</option>
            <option>ANDHRA PRADESH</option>
            <option>ARUNACHAL PRADESH</option>
            <option>ASSAM</option>
            <option>BIHAR</option>
            <option>CHANDIGARH</option>
            <option>CHHATTISGARH</option>
            <option>DADAR & NAGAR HAVELI</option>
            <option>DAMAN & DIU</option>
            <option>DELHI</option>
            <option>GOA</option>
            <option>GUJARAT</option>
            <option>HARYANA</option>
            <option>HIMACHAL PRADESH</option>
            <option>JAMMU AND KASHMIR</option>
            <option>JHARKHAND</option>
            <option>KARNATAKA</option>
            <option>KERALA</option>
            <option>LADAKH</option>
            <option>LAKSHADWEEP</option>
            <option>MADHYA PRADESH</option>
            <option>MAHARASHTRA</option>
            <option>MANIPUR</option>
            <option>MEGHALAYA</option>
            <option>MIZORAM</option>
            <option>NAGALAND</option>
            <option>ODISHA</option>
            <option>PONDICHERRY</option>
            <option>PUNJAB</option>
            <option>RAJASTHAN</option>
            <option>SIKKIM</option>
            <option>TAMIL NADU</option>
            <option>TELANGANA</option>
            <option>TRIPURA</option>
            <option>UTTARAKHAND</option>
            <option>UTTARPRADESH</option>
            <option>WEST BENGAL</option>
            
        </select>
        </div>
    </div>






    <div style="text-align: center; padding-top: 40px">
        <div class="stateWise">


        </div>
    </div>

</div>