<div class="justify-content-between">
  <div class="">
    
<div class="">
  <h5 class="text-center mt-5">Auto Email On/Off</h5>
  <div class="text-center">
    <h5>Set:</h5>
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="on" name="on" [value]="true" [(ngModel)]="autoEmailOnOff">
          <label class="form-check-label" for="on">On</label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="off" name="off" [value]="false" [(ngModel)]="autoEmailOnOff">
          <label class="form-check-label" for="off">Off</label>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <button type="button" class="btn btn-success" (click)="setAutoEmail()">Submit</button>
  </div>
</div>


    <div class="">
      <h5 class="text-center mt-5">Email Log</h5>
      <div>
        <table class="table">
          <tr>
            <th>To</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Date Time</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let item of emailLogs">
            <td>{{item.email}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.message}}</td>
            <td>{{item.datetime | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
            <td>{{item.status == false ? 'Failed' : 'Sent'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
