<table style="width: 100%; background: linear-gradient(to top, #09203f 0%, #537895 100%);">
  <tbody>
    <tr>
      <td>
        <label style="color: aliceblue; margin-left: 10px;">{{loggedInUser.data[0].name}}</label>
      </td>
      <td style="width: 8%;padding: 10px 0px 18px 18px;" align="left">
        <!-- <img class="logo" src="/assets/images/IMDlogo_Ipart-iris.png" alt="" /> -->
      </td>
      <td style="text-align: center; padding: 20px 0px 20px 20px; width: 75%">
        <table style="width: 100%">
          <tbody>
            <tr style="display: flex; flex-direction: column;">
              <!-- <td>
                <img width="100px" style="margin-left: 10px;" src="/assets/images/logoimage.png">
              </td> -->
              <td>
                <label style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 20px;
                  ">
                  IMD Rainfall Information System<img width="100px" style="margin-left: 10px;" src="/assets/images/logoimage.png"></label>
              </td>
            </tr>
            <tr>
              <td>
                <label style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 18px;
                  ">
                  Hydromet Division</label>
              </td>
            </tr>
            <!-- <tr>
              <td>
                <label
                  style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 14px;
                  "
                >
                  India Meteorological Department</label
                >
              </td>
            </tr>
            <tr>
              <td>
                <label
                  style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 14px;
                  "
                >
                  Ministry Of Earth Sciences</label
                >
              </td>
            </tr>
            <tr>
              <td>
                <label
                  style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 14px;
                  "
                >
                  New Delhi-110 003</label
                >
              </td>
            </tr> -->
          </tbody>
        </table>
      </td>
      <td>
        <div class="button">
          <button class="Logout" (click)="logOut()" id="usrLout">
            Logout
          </button>
          <button class="Back" href="http://www.imd.gov.in">
            Back
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>