<table style="width: 100%; background: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);">
  <tbody>
    <tr>
      <td style="width: 8%;padding: 10px 0px 18px 18px;" align="left">
        <img class="logo" src="/assets/images/IMDlogo_Ipart-iris.png" alt="" />
      </td>
      <td style="text-align: center; padding-left: 20px; width: 80%">
        <table style="width: 100%">
          <tbody>
            <tr>
              <td>
                <label
                  style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 20px;
                  "
                >
                  IMD Rainfall Information System (IRIS)</label
                >
              </td>
            </tr>
            <tr>
              <td>
                <label
                  style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 18px;
                  "
                >
                  Hydromet Division</label
                >
              </td>
            </tr>
            <!-- <tr>
              <td>
                <label
                  style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 14px;
                  "
                >
                  India Meteorological Department</label
                >
              </td>
            </tr>
            <tr>
              <td>
                <label
                  style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 14px;
                  "
                >
                  Ministry Of Earth Sciences</label
                >
              </td>
            </tr>
            <tr>
              <td>
                <label
                  style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 14px;
                  "
                >
                  New Delhi-110 003</label
                >
              </td>
            </tr> -->
          </tbody>
        </table>
      </td>
      <td>
      <div class="button">
        <button
          class="Logout"
          (click)="logOut()"
          id="usrLout"
        >
           Logout
        </button>
        <button
          class="Back"
          href="http://www.imd.gov.in"
        >
          Back
        </button>
      </div>
    </td>
    </tr>
  </tbody>
</table>
