<div class="container mt-2">
  <div class="mb-3">
    <label>Select Section</label>
    <select class="form-control" [(ngModel)]="selectedSection">
      <option value="QPF VERIFICATION REPORT">QPF VERIFICATION REPORT</option>
      <option value="RAINFALL REPORTS">RAINFALL REPORTS</option>
      <option value="DESIGN STORM ANALYSIS">DESIGN STORM ANALYSIS</option>
    </select>
  </div>
  <div class="mb-3">
    <input class="form-control" #fileInput type="file" (change)="onFileSelected($event)">
  </div>
  <button type="button" (click)="uploadFile()" class="btn btn-success">Upload</button>
</div>
