<div class="background-effect">
  <table style="width: 100%; background: linear-gradient(to top, #09203f 0%, #537895 100%);">
    <tbody>
      <tr>
        <td style="width: 8%; padding: 10px 0px 17px 25px;" align="left">
        </td>
        <td style="text-align: center; padding: 20px; width: 90%">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td>
                  <label style="
                      color: white;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 20px;
                    ">
                    IMD Rainfall Information System (iRAINS)</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="
                      color: white;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 18px;
                    ">
                    Hydromet Division</label>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <div class="button">
            <button class="Back" (click)="goBack()">Back</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="navbar">
    <app-multi-select-dropdown [list]="regionList" [type]="'Region'"
      (shareCheckedList)="onChangeRegion($event)">
    </app-multi-select-dropdown>

    <app-multi-select-dropdown [list]="filteredMcs" [type]="'MC'" (shareCheckedList)="onChangeMc($event)">
    </app-multi-select-dropdown>

    <app-multi-select-dropdown [list]="filteredStates" [type]="'State'"
      (shareCheckedList)="onChangeState($event)">
    </app-multi-select-dropdown>

    <app-multi-select-dropdown [list]="filteredDistricts" [type]="'District'"
      (shareCheckedList)="onChangeDistrict($event)">
    </app-multi-select-dropdown>

    <div class="col-1 mt-2">
      <button class="btn btn-success" type="button" (click)="filterByDate()">Submit</button>
    </div>
  </div>

  <div style="text-align: center; padding-top: 40px">
    <div class="dataentry">
      <div class="row">
        <div class="col-12">
          <h3>REALTIME STATIONS DATA</h3>
        </div>
      </div>
      <br />
        <table style=" margin: auto; border-collapse: collapse; width: 90%; border: 1px solid black;">
          <thead>
            <tr>
              <th style="border: 1px solid black">S.NO</th>
              <th style="border: 1px solid black">STATION NAME</th>
              <th style="border: 1px solid black">STATION ID</th>
              <th style="border: 1px solid black">AWS/ORG/ARG</th>
              <th style="border: 1px solid black">LAT</th>
              <th style="border: 1px solid black">LNG</th>
            </tr>
          </thead>
          <tbody *ngIf="filteredStations && filteredStations.length > 0">
            <tr *ngFor="let station of filteredStations; let i = index">
              <td style="border: 1px solid black">{{ i + 1 }}</td>
              <td style="border: 1px solid black">{{ station.stationname }}</td>
              <td style="border: 1px solid black">{{ station.stationid }}</td>
              <td style="border: 1px solid black">{{ station.stationtype }}</td>
              <td style="border: 1px solid black">{{ station.lat }}</td>
              <td style="border: 1px solid black">{{ station.lng }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
