<div class="background-effect">
  <table style="width: 100%">
    <tbody>
      <tr>
        <td style="width: 8%; padding-left: 25px" align="left">
          <img class="logo" src="/assets/images/IMDlogo_Ipart.png" alt="" />
        </td>
        <td style="text-align: center; padding-left: 20px; width: 80%">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td>
                  <label
                    style="
                      color: black;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 20px;
                    "
                  >
                    IMD Rainfall Information System (IRIS)</label
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <label
                    style="
                      color: black;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 18px;
                    "
                  >
                    Hydromet Division</label
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <label
                    style="
                      color: black;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 14px;
                    "
                  >
                    India Meteorological Department</label
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <label
                    style="
                      color: black;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 14px;
                    "
                  >
                    Ministry Of Earth Sciences</label
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <label
                    style="
                      color: black;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 14px;
                    "
                  >
                    New Delhi-110 003</label
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <div class="button">
            <button class="Back" href="http://www.imd.gov.in">Back</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

    <div style="text-align: center; padding-top: 15%">
      <div class="dataentry">
      <h2>DATA ENTRY</h2>
      <form (submit)="addData()">

        <label for="field1">STATION DATA :</label>
        <input type="number" id="field1" name="field1" [(ngModel)]="data.field1" required>
        <br/>

        <label for="field2">STATE DATA :</label>
        <input type="text" id="field2" name="field2" [(ngModel)]="data.field2" required>
        <br/>

        <button type="submit" class="enter">Add Data</button>
      </form>

      <div *ngIf="message">
        <p>{{ message }}</p>
      </div>





    </div>
  </div>
</div>
