
img{
  width: 60px;
}
.logo {
  margin: 6px 0 0 51px;
}
.map_data{
  text-align: center;
 margin: 2%;
 font-weight: 600;
 font-size: 10px;
}

.download{
  background-color: #002467;
  padding: 8px;
  margin: 6px;
  width: 83px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 20px;
  color: white;
}
.download:hover{
  background-color: white;
  color: #002467;
  border-style: solid;
  border-width: 2px;
  border-color: #002467;
}

.checkbox-container {
  display: inline-block;
  margin-right: 20px; /* Adjust the margin as needed */
}

.checkbox-container input {
  margin-right: 8px; /* Add space to the right of the checkbox */
}

.gridmap {
  left: 308px;
  position: relative;
}

.gridmap-another-class {
  left: 0px;
  position: sticky;
}
