<div>
  <div class="text-center">
    <div class="checkbox-container">
      <!-- <label>Select Tile</label> -->
      <select class="form-select" aria-label="Default select example" [(ngModel)]="tileCount" (ngModelChange)="changeMapTile($event)">
        <option selected value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <!-- <option value="5">Five</option> -->
      </select>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="mapTile1" name="mapTile1" value="District" checked (click)="changeMapType($event, 'mapTile1', 'mapdiv1')">
      <label for="mapTile1">District</label>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="mapTile2" name="mapTile2" value="State" (click)="changeMapType($event, 'mapTile2', 'mapdiv2')">
      <label for="mapTile2">State</label>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="mapTile3" name="mapTile3" value="SubDivision" (click)="changeMapType($event, 'mapTile3', 'mapdiv3')">
      <label for="mapTile3">Sub-Division</label>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="mapTile4" name="mapTile4" value="Homogenous" (click)="changeMapType($event, 'mapTile4', 'mapdiv4')">
      <label for="mapTile3">Homogenous</label>
    </div>

    <!-- <div class="checkbox-container">
      <input type="checkbox" id="mapTile5" name="mapTile5" value="Country" (click)="changeMapType($event, 'mapTile5', 'mapdiv5')">
      <label for="mapTile3">Country</label>
    </div> -->
  </div>


  <div class="container">
    <div class="row">
      <div class="col-6" id="mapdiv1" [ngClass]="(mapTileTypes.length == 1 || mapTileTypes.length == 3 || mapTileTypes.length == 5) && showMapInCenter == 'District' ? 'gridmap' : 'gridmap-another-class'">
        <div class="map-container;">
          <div class="map-frame">
            <div
            id="map"
            style="
              width: 100%;
              height: 70vh;
              border-style: solid;
              border-color: black;
              border-width: 2px;
              text-align: center;
              margin: 10px;
              box-shadow: 10px 15px 10px 2px rgba(0,0,0,.8);
            "
          >
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 15%; text-align: center; margin-left: 20px ">
                      <img
                        class="logo"
                        src="/assets/images/IMDlogo_Ipart-iris.png"
                        alt=""
                      />
                    </td>
                    <td style="text-align: center; width: 72%">
                      <table style="width: 100%">
                        <tbody>
                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 15px;
                                "
                              >
                                DISTRICT RAINFALL MAP (mm)</label
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 14px;
                                "
                                >Date : {{ formatteddate }}
                              </label>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 12px;
                                "
                              >
                                INDIA METEOROLOGICAL DEPARTMENT</label
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="width: 30%">
                      <label
                        style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 12px;
                          text-align: center;
                        "
                      >
                        IMD, NEW DELHI</label
                      >
                      <button class="download" (click)="downloadMapImage()">
                        Download
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="mainmap" style="height: 80vh; width: 80%"></div>
              <div class="leaflet-bottom leaflet-right">
                <table
                  class="info_legend leaflet-control"
                  style="width: 98%; height: 30px"
                >
                  <tbody>
                    <tr align="center">
                      <td width="5px"></td>
                      <td style="background-color: #808080; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        0 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #90ee90; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        0.1-2.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #008000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        2.5-7.5 mm
                      </td>

                      <td width="5px"></td>
                      <td style="background-color: #add8e6; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        7.6-20.4 mm
                      </td>

                      <td width="5px"></td>
                      <td style="background-color: #0000ff; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        20.5-35.5 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ffff00; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        35.6-64.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ffd700; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        64.5-124.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ff8c00; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        124.5-150.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ff0000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        150.5-204.4 mm
                      </td>
                      <td style="background-color: #800000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        > 204.4 mm
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" id="mapdiv2" [ngClass]="(mapTileTypes.length == 1 ) && showMapInCenter == 'State' ? 'gridmap' : 'gridmap-another-class'">
        <div class="map-container;">
          <div class="map-frame">
            <div
            id="map1"
            style="
              width: 100%;
              height: 70vh;
              border-style: solid;
              border-color: black;
              border-width: 2px;
              margin: 10px;
              box-shadow: 10px 15px 10px 2px rgba(0,0,0,.8);
            "
          >
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 15%; text-align: center; margin-left: 20px ">
                      <img
                        class="logo"
                        src="/assets/images/IMDlogo_Ipart-iris.png"
                        alt=""
                      />
                    </td>
                    <td style="text-align: center; width: 72%">
                      <table style="width: 100%">
                        <tbody>
                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 15px;
                                "
                              >
                                STATE RAINFALL MAP (mm)</label
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 14px;
                                "
                              >
                                Date : {{ formatteddate }}</label
                              >
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 12px;
                                "
                              >
                                INDIA METEOROLOGICAL DEPARTMENT</label
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="width: 30%">
                      <label
                        style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 12px;
                          text-align: center;
                        "
                      >
                        IMD, NEW DELHI</label
                      >
                      <button class="download" (click)="downloadMapImage1()">
                        Download
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="leaflet-bottom leaflet-right">
                <table
                  class="info_legend leaflet-control"
                  style="width: 98%; height: 30px"
                >
                  <tbody>
                    <tr align="center">
                      <td width="5px"></td>
                      <td style="background-color: #808080; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        0 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #90ee90; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        0.1-2.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #008000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        2.5-7.5 mm
                      </td>

                      <td width="5px"></td>
                      <td style="background-color: #add8e6; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        7.6-20.4 mm
                      </td>

                      <td width="5px"></td>
                      <td style="background-color: #0000ff; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        20.5-35.5 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ffff00; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        35.6-64.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ffd700; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        64.5-124.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ff8c00; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        124.5-150.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ff0000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        150.5-204.4 mm
                      </td>
                      <td style="background-color: #800000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        > 204.4 mm
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" id="mapdiv3" [ngClass]="(mapTileTypes.length == 1 || mapTileTypes.length == 3 || mapTileTypes.length == 5) && showMapInCenter == 'SubDivision' ? 'gridmap' : 'gridmap-another-class'">
        <div class="map-container;">
          <div class="map-frame">
            <div
            id="map2"
            style="
              width: 100%;
              height: 70vh;
              border-style: solid;
              border-color: black;
              border-width: 2px;
              text-align: center;
              margin: 10px;
              box-shadow: 10px 15px 10px 2px rgba(0,0,0,.8);
            "
          >
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 15%; text-align: center; margin-left: 20px ">
                      <img
                        class="logo"
                        src="/assets/images/IMDlogo_Ipart-iris.png"
                        alt=""
                      />
                    </td>
                    <td style="text-align: center; width: 72%">
                      <table style="width: 100%">
                        <tbody>
                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 15px;
                                "
                              >
                                SUB-DIVISION RAINFALL MAP (mm)</label
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 14px;
                                "
                              >
                                Date : {{ formatteddate }}</label
                              >
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 12px;
                                "
                              >
                                INDIA METEOROLOGICAL DEPARTMENT</label
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="width: 30%">
                      <label
                        style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 12px;
                          text-align: center;
                        "
                      >
                        IMD, NEW DELHI</label
                      >
                      <button class="download" (click)="downloadMapImage2()">
                        Download
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="leaflet-bottom leaflet-right">
                <table
                  class="info_legend leaflet-control"
                  style="width: 98%; height: 30px"
                >
                  <tbody>
                    <tr align="center">
                      <td width="5px"></td>
                      <td style="background-color: #808080; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        0 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #90ee90; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        0.1-2.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #008000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        2.5-7.5 mm
                      </td>

                      <td width="5px"></td>
                      <td style="background-color: #add8e6; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        7.6-20.4 mm
                      </td>

                      <td width="5px"></td>
                      <td style="background-color: #0000ff; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        20.5-35.5 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ffff00; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        35.6-64.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ffd700; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        64.5-124.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ff8c00; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        124.5-150.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ff0000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        150.5-204.4 mm
                      </td>
                      <td style="background-color: #800000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        > 204.4 mm
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" id="mapdiv4" [ngClass]="(mapTileTypes.length == 1 || mapTileTypes.length == 3 || mapTileTypes.length == 5) && showMapInCenter == 'Homogenous' ? 'gridmap' : 'gridmap-another-class'">
        <div class="map-container;">
          <div class="map-frame">
            <div
            id="map3"
            style="
              width: 100%;
              height: 70vh;
              border-style: solid;
              border-color: black;
              border-width: 2px;
              text-align: center;
              margin: 10px;
              box-shadow: 10px 15px 10px 2px rgba(0,0,0,.8);
            "
            >

              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 15%; text-align: center; margin-left: 20px ">
                      <img
                        class="logo"
                        src="/assets/images/IMDlogo_Ipart-iris.png"
                        alt=""
                      />
                    </td>
                    <td style="text-align: center; width: 72%">
                      <table style="width: 100%">
                        <tbody>
                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 15px;
                                "
                              >
                            HOMOGENOUS REGION RAINFALL MAP (mm)</label
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 14px;
                                "
                              >
                                Date : {{ formatteddate }}</label
                              >
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label
                                style="
                                  color: black;
                                  vertical-align: middle;
                                  font-family: Arial;
                                  font-weight: bolder;
                                  font-size: 12px;
                                "
                              >
                                INDIA METEOROLOGICAL DEPARTMENT</label
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="width: 30%">
                      <label
                        style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 12px;
                          text-align: center;
                        "
                      >
                        IMD, NEW DELHI</label
                      >
                      <button class="download" (click)="downloadMapImage3()">
                        Download
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="leaflet-bottom leaflet-right">
                <table
                  class="info_legend leaflet-control"
                  style="width: 98%; height: 30px"
                >
                  <tbody>
                    <tr align="center">
                      <td width="5px"></td>
                      <td style="background-color: #808080; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        0 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #90ee90; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        0.1-2.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #008000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        2.5-7.5 mm
                      </td>

                      <td width="5px"></td>
                      <td style="background-color: #add8e6; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        7.6-20.4 mm
                      </td>

                      <td width="5px"></td>
                      <td style="background-color: #0000ff; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        20.5-35.5 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ffff00; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        35.6-64.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ffd700; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        64.5-124.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ff8c00; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        124.5-150.4 mm
                      </td>
                      <td width="5px"></td>
                      <td style="background-color: #ff0000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        150.5-204.4 mm
                      </td>
                      <td style="background-color: #800000; width: 10px"></td>
                      <td
                        style="
                          font-size: 10px;
                          color: black;
                          font-weight: 800;
                        "
                      >
                        > 204.4 mm
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
