<div class="main-container">

	<div [class.full-width]="!isSideNavOpen" class="map-container position-relative">

		<div class="data-bars-container">

			<div class="d-flex gap-1">
				<div class="p-2 data-bars">Date : {{!this.selected_Date?current_Date.date :manual_date_time.date}}</div>
			</div>
			<div class="d-flex gap-1" *ngIf="selectedParameter">
				<div class="p-2 data-bars" *ngIf="selectedParameter.text === 'Temperature'">
					Tmax : 35°C
				</div>
				<div class="p-2 data-bars" *ngIf="selectedParameter.text === 'Temperature'">
					Tmin : 12°C
				</div>
				<div class="p-2 data-bars" *ngIf="selectedParameter.text === 'Rainfall'">
					Highest Rainfall : 17mm
				</div>
				<div class="p-2 data-bars" *ngIf="selectedParameter.text === 'Rainfall'">
					Lowest Rainfall : 2mm
				</div>
				<div class="selected-parameter-icon" *ngIf="selectedParameter">
					<mat-icon>{{selectedParameter.iconName}}</mat-icon>
				</div>
			</div>
		</div>

		<!-- Map is being rendered from TS file using the id="map_alert" -->
		<div class="main-map" style="height: calc(100vh - 64px);" id="map_observations">
		</div>

	</div>

	<div [class.side-nav-visible]="isSideNavOpen" [class.side-nav-hidden]="!isSideNavOpen" style="height: 100%"
		class="weather-data-list-container">

		<div class="my-3" [class.nav-heading]="isSideNavOpen"
			[ngClass]="{'d-flex flex-row-reverse justify-content-center align-items-center': !isSideNavOpen}">
			<h2 class="mb-3 pr-2" [class.hidden]="!isSideNavOpen">Explore</h2>
		</div>
		<form id="observation-form" class="form-container" (ngSubmit)="submitParameterForm()">
			<mat-divider></mat-divider>
			<div class="my-3" style="gap: 1.2em; padding-left:1em;"
				[ngClass]="{'d-flex justify-content-around items-center': isSideNavOpen}">

				<span [ngStyle]="{'margin-left': !isSideNavOpen ? '1rem' : '0'}">
					<mat-icon class="time-bg bg-light-green" *ngIf="!this.selected_Date">access_time</mat-icon>
					<mat-icon class="time-bg bg-orange" *ngIf="this.selected_Date">access_time</mat-icon>
				</span>

				<div class="d-flex">
					<mat-menu #timeMenu="matMenu" class="timeMenu" [class.hidden]="!isSideNavOpen"
						style="z-index:3000;">
						<div style="padding:1em;" (click)="$event.stopPropagation()">
							<div>
								<p>Time mode:</p>
								<div class="d-flex" style="gap: 1em;">
									<p class="text-light-green">Daily</p>
									<mat-slide-toggle [checked]="false" color="primary"
										(change)="changeTimeToggle($event)"></mat-slide-toggle>
									<p class="text-orange">Historical</p>
								</div>
							</div>

							<!--Date time Picker -->
							<mat-form-field class="mt-3 mb-3 example-full-width" appearance="outline"
								style="width:100%">

								<mat-label>Select date and time</mat-label>

								<input name="bulletin-date" [(ngModel)]="selected_Date" matInput
									[matDatepicker]="picker" (dateChange)="changeDate()">

								<mat-hint>MM/DD/YYYY</mat-hint>
								<mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>

								<mat-datepicker #picker></mat-datepicker>

							</mat-form-field>

							<button mat-flat-button color="primary" (click)="confirmTimeDate($event)">Done</button>
						</div>
					</mat-menu>

					<button mat-button #timeMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="timeMenu"
						[ngClass]="{'d-flex flex-row': isSideNavOpen}" [class.hidden]="!isSideNavOpen"
						(click)="preventButtonBehaviour($event)">

						<div style="display:flex; flex-direction:row;align-items:center;gap: 2.4em;">
							<div *ngIf="!this.selected_Date">
								<div>{{ current_Date.date }}</div>
								<div>{{ current_Date.time }}</div>
							</div>
							<div *ngIf="this.selected_Date">
								<div>{{manual_date_time.date}}</div>
								<div>{{manual_date_time.time}}</div>
							</div>
						</div>
					</button>
				</div>
			</div>

			<mat-divider></mat-divider>

			<div style="padding: 10px;">
				<div>
					<label for="region">Select Region :</label>
					<select name="region" class="form-control" id="region" [(ngModel)]="selectedRegion"
						(change)="onChangeRegion()">
						<option *ngFor="let region of regionList" [value]="region">{{region}}</option>
					</select>
				</div> <br>
				<div>
					<label for="mcs">Select RMC/MC :</label>
					<select name="mcs" class="form-control" id="mcs">
						<option value="mc1">RMC/MC</option>
						<option value="mc2">RMC/MC</option>
						<option value="mc3">RMC/MC</option>
						<option value="mc4">RMC/MC</option>
					</select>
				</div><br>
				<div>
					<label for="state">Select State :</label>
					<select name="state" class="form-control" id="state" [(ngModel)]="selectedState"
						(change)="onChangeState()">
						<option *ngFor="let state of filteredStates" [value]="state">{{state}}</option>
					</select>
				</div><br>
				<div>
					<label for="district">Select District :</label>
					<select name="district" class="form-control" id="district" [(ngModel)]="selectedDistrict">
						<option *ngFor="let district of filteredDistricts" [value]="district">{{district}}</option>
					</select>
				</div>
			</div>

			<mat-divider></mat-divider>

			<!-- Inside the form -->
			<div class="my-3 d-flex justify-content-center">
				<button mat-button type="submit" class="mx-ato" [class.hidden]="!isSideNavOpen"
					style="background-color:#4050b5; color:white" (click)="showStationData()">
					Show Station Data
				</button>
				<button mat-button type="submit" class="mx-ato" [class.hidden]="!isSideNavOpen"
					style="background-color:#4050b5; color:white; margin:0px 10px 0px 10px;" (click)="compareCharts()">
					Compare
				</button>
			</div>

			<mat-divider></mat-divider>

			<div style="text-align: center; font-weight: bold;">
				<p>Day Statistics</p>
			</div>
			<div class="py-2 d-flex justify-content-between station-data-table w-100">
				<span>Highest recorded rainfall</span>
				<span>395</span>

			</div>
			<div class="py-2 d-flex justify-content-between station-data-table w-100">
				<span>Lowest recorded rainfall</span>
				<span>05</span>

			</div>
			<div style="padding: 10px;">
				<div style="display: inline-block;">
					<div style="width: 20px;
          height: 10px;
          background-color: gray;
          display: inline-block;
          vertical-align: middle; margin-right: 10px;"></div>
					<span>Low Rainfall : 12</span>
				</div>
				<div style="display: inline-block;">
					<div style="width: 20px;
          height: 10px;
          background-color: yellow;
          display: inline-block;
          vertical-align: middle; margin-right: 10px;"></div>
					<span>Modrate Rainfall : 175</span>
				</div>
				<div style="display: inline-block;">
					<div style="width: 20px;
          height: 10px;
          background-color: red;
          display: inline-block;
          vertical-align: middle; margin-right: 10px;"></div>
					<span>High Rainfall : 250</span>
				</div>
				<label>No 250 Station received</label>
				<label>No 4000 Station Pending</label>
			</div>

		</form>
	</div>

	<div [ngStyle]="{'display': !isBottomNavOpen ? 'none' : 'flex'}" [class.station-data-container]="isBottomNavOpen"
		class="flex-column">

		<div class="d-flex justify-content-center align-items-center" style="gap:2em;">
			<div class="h5 align-self-center d-flex" [class.selected]="selectedOption === 'station_details'"
				(click)="selectStationDataOption('station_details')" style="gap:0.2em;">
				<mat-icon>graphic_eq</mat-icon>
				<span>Station Details</span>
			</div>
			<div class="h5 align-self-center d-flex" [class.selected]="selectedOption === 'compare_station_data'"
				(click)="selectStationDataOption('compare_station_data')" style="gap:0.2em;">
				<mat-icon>compare_arrows</mat-icon>
				<span>Compare</span>
			</div>
			<mat-icon (click)="closePopup()">close</mat-icon>

			<!-- <div class="h5 align-self-center" [class.selected]="selectedOption === 'Others'" (click)="selectOption('Others')">Others</div> -->
		</div>

		<mat-divider></mat-divider>

		<div class="d-flex" style="height:100%;">
			<ng-container *ngIf="selectedOption === 'station_details'">
				<div class="d-flex flex-column justify-content-center align-items-center p-2 mb-3"
					style=" width:35%; max-height:80%;">
					<Span class="h5">Station Details</Span>

					<div style="overflow-y:scroll; width:100%; padding:1em;">

						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<span>Station</span>
							<span>Goa</span>
						</div>

						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<span>How many days data</span>
							<span>20</span>
						</div>
						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<span>How many missing</span>
							<span>05</span>
						</div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="selectedOption === 'compare_station_data'">
				<div class="d-flex flex-column justify-content-center align-items-center p-2 mb-3"
					style=" width:35%; max-height:80%;">
					<div>
						<Span class="h5">Compare Stations</Span>
					</div>
					<div style="overflow-y:scroll; width:100%; padding:1em;">
						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<select name="stations" id="stations">
								<option value="station1">Station1</option>
								<option value="station2">Station2</option>
							</select>
						</div>
						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<span>How many days data</span>
							<span>20</span>
						</div>
						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<span>How many missing</span>
							<span>05</span>
						</div>
					</div>
				</div>
			</ng-container>

			<div style="max-height:80%; width:70%;" class="my-auto">
				<div *ngIf="chart" [chart]="chart" style="height: 232px; width:57em;" class="chart-container"></div>
				<div class="station-data-options">
					<div *ngFor="let weatherOptions of stationWeatherParameters" class="station-data-sub-options p-2"
						[class.clicked]="toggleDataParameter(weatherOptions.text)"
						(click)="updateChart(weatherOptions)">
						{{ weatherOptions.text }}
					</div>
					<button mat-button style="background-color:#4050b5; color:white; margin:0px 10px 0px 10px;">
						Historical
					</button>
				</div>
			</div>
		</div>
	</div>

</div>