<div class="main-container">
	<div [class.full-width]="!isSideNavOpen" class="map-container position-relative">
		<div class="data-bars-container">
			<div class="d-flex gap-1">
				<div class="p-2 data-bars">Date : {{selected_Date | date: 'dd-MM-yyyy HH:mm'}}</div>
			</div>
		</div>

		<button mat-button class="mx-ato" style="background-color:#4050b5; color:white; margin:0px 10px 0px 10px;"
			(click)="toggleMapDisplay()" class="toggle-map-button">Toggle Map</button>
		<div class="main-map" style="height: 100vh;" id="map_observations"></div>
		<div class="main-map1" style="height: 100vh; display: none;" id="map_observations1"></div>
	</div>
	<div [class.side-nav-visible]="isSideNavOpen" [class.side-nav-hidden]="!isSideNavOpen" style="height: 100%"
		class="weather-data-list-container">
		<form id="observation-form" class="form-container">
			<mat-divider></mat-divider>
			<div class="my-3" style="gap: 1.2em; padding-left:1em;"
				[ngClass]="{'d-flex justify-content-around items-center': isSideNavOpen}">
				<span><mat-icon class="time-bg bg-light-green">access_time</mat-icon></span>
				<input class="form-control" type="datetime-local" id="birthdaytime"
					[ngModel]="selected_Date | date:'yyyy-MM-dd HH:mm'" (ngModelChange)="selected_Date = $event"
					name="birthdaytime">

				<div>

				</div>
			</div>

			<mat-divider></mat-divider>

			<div style="padding: 5px;">
				<app-multi-select-dropdown [list]="regionList" [type]="'Region'"
					(shareCheckedList)="onChangeRegion($event)">
				</app-multi-select-dropdown>

				<br>

				<app-multi-select-dropdown [list]="filteredMcs" [type]="'MC'" (shareCheckedList)="onChangeMc($event)">
				</app-multi-select-dropdown>
				<br>

				<app-multi-select-dropdown [list]="filteredStates" [type]="'State'"
					(shareCheckedList)="onChangeState($event)">
				</app-multi-select-dropdown>

				<br>
				<app-multi-select-dropdown [list]="filteredDistricts" [type]="'District'"
					(shareCheckedList)="onChangeDistrict($event)">
				</app-multi-select-dropdown>

				<br>

        <div>
					<select name="district" class="form-control" id="district" (change)="showStationDailyData()" [(ngModel)]="selectedStation">
            <option [value]="''">Select Station</option>
						<option *ngFor="let station of filteredStations"  [value]="station.name">{{station.name}}</option>
					</select>
				</div>

				<!-- <app-multi-select-dropdown [list]="filteredStations" [type]="'Station'"
					(shareCheckedList)="onChangeStation($event)">
				</app-multi-select-dropdown> -->
				<div class="row mt-2">
					<div class="col">
						<input type="radio" id="aws" name="aws" value="aws" [(ngModel)]="stationType">
						  <label for="aws">AWS</label>
					</div>
					<div class="col">
						<input type="radio" id="org" name="org" value="org" [(ngModel)]="stationType">
						  <label for="org">ORG</label>
					</div>
					<div class="col">
						<input type="radio" id="arg" name="arg" value="arg" [(ngModel)]="stationType">
						  <label for="arg">ARG</label>
					</div>
				</div>
			</div>

			<mat-divider></mat-divider>

			<div class="my-3 d-flex justify-content-center">

				<button mat-button type="button" class="mx-auto" [class.hidden]="!isSideNavOpen"
					style="background-color:#4050b5; color:white">
					Submit
				</button>

				<button mat-button type="button" class="mx-auto px-2" [class.hidden]="!isSideNavOpen"
					style="background-color:#4050b5; color:white" (click)="showStationData()">
					Show Station Data
				</button>
				<button mat-button type="button" class="mx-auto" [class.hidden]="!isSideNavOpen"
					style="background-color:#4050b5; color:white; margin:0px 10px 0px 10px;" (click)="compareCharts()">
					Compare
				</button>
			</div>

			<mat-divider></mat-divider>

			<div style="text-align: center; font-weight: bold;">
				<label>Day Statistics</label>
			</div>
			<div style="padding: 10px;">
				<div style="display: inline-block;">
          <input style="margin-right: 7px;" type="checkbox">
					<div style="width: 20px;
		  height: 10px;
		  background-color: #808080;
		  display: inline-block;
		  vertical-align: middle; margin-right: 10px;"></div>
					<span>Very Light Rainfall : {{veryLightRainFallStationCount}}</span>
				</div>
				<div style="display: inline-block;">
          <input style="margin-right: 7px;" type="checkbox">
					<div style="width: 20px;
		  height: 10px;
		  background-color: #add8e6;
		  display: inline-block;
		  vertical-align: middle; margin-right: 10px;"></div>
					<span>Light Rainfall : {{lightRainfallStationCount}}</span>
				</div>
				<div style="display: inline-block;">
          <input style="margin-right: 7px;" type="checkbox">
					<div style="width: 20px;
		  height: 10px;
		  background-color: #ffd700;
		  display: inline-block;
		  vertical-align: middle; margin-right: 10px;"></div>
					<span>Moderate Rainfall : {{modrateRainFallStationCount}}</span>
				</div>
				<div style="display: inline-block;">
          <input style="margin-right: 7px;" type="checkbox">
					<div style="width: 20px;
			height: 10px;
			background-color: #ff8c00;
			display: inline-block;
			vertical-align: middle; margin-right: 10px;"></div>
					<span>Heavy Rainfall : {{heavyRainFallStationCount}}</span>
				</div>
				<div style="display: inline-block;">
          <input style="margin-right: 7px;" type="checkbox">
					<div style="width: 20px;
			height: 10px;
			background-color: #ff0000;
			display: inline-block;
			vertical-align: middle; margin-right: 10px;"></div>
					<span>Very Heavy Rainfall : {{veryHeavyRainfallStationCount}}</span>
				</div>
				<div style="display: inline-block;">
          <input style="margin-right: 7px;" type="checkbox">
					<div style="width: 20px;
			height: 10px;
			background-color: #800000;
			display: inline-block;
			vertical-align: middle; margin-right: 10px;"></div>
					<span>Extremely Heavy Rainfall : {{extremelyHeavyRainfallStationCount}}</span>
				</div>
				<label>Highest recorded rainfall : {{highestrecorded}}</label>
				<label>Lowest recorded rainfall : {{lowestrecorded}}</label>
				<label>No {{receivedata}} Station received</label>
				<label>No {{notreceivedata}} Station not received</label>
				<label>No {{pendingdata}} Station Pending</label>
			</div>

		</form>
	</div>

	<div [ngStyle]="{'display': !isBottomNavOpen ? 'none' : 'flex'}" [class.station-data-container]="isBottomNavOpen"
		class="flex-column">

		<div class="d-flex justify-content-center align-items-center" style="gap:2em;">
			<div class="h5 align-self-center d-flex" [class.selected]="selectedOption === 'station_details'"
				(click)="selectStationDataOption('station_details')" style="gap:0.2em;">
				<mat-icon>graphic_eq</mat-icon>
				<span>Station Details</span>
			</div>
			<div class="h5 align-self-center d-flex" [class.selected]="selectedOption === 'compare_station_data'"
				(click)="selectStationDataOption('compare_station_data')" style="gap:0.2em;">

			</div>
			<mat-icon (click)="closePopup()">close</mat-icon>

		</div>

		<mat-divider></mat-divider>

		<div class="d-flex" style="height:100%;">
			<ng-container *ngIf="selectedOption === 'station_details'">
				<div class="d-flex flex-column justify-content-center align-items-center p-2 mb-3"
					style=" width:35%; max-height:80%;">
					<Span class="h5">Station Details</Span>

					<div style="overflow-y:scroll; width:100%; padding:1em;">

						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<span>Station</span>
							<span>{{selectedStation}}</span>
						</div>

						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<span>How many days data</span>
							<span>20</span>
						</div>
						<div class="py-2 d-flex justify-content-between station-data-table w-100">
							<span>How many missing</span>
							<span>05</span>
						</div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="selectedOption === 'compare_charts' && showCompareData">
				<div class="d-flex flex-column justify-content-center align-items-center p-2 mb-3"
					style=" width:35%; max-height:80%;">
					<div>
						<Span class="h5">Compare Stations</Span>
					</div>
					<div style="overflow-y:scroll; width:100%; padding:1em;">
						<div class="py-2 d-flex justify-content-between station-data-table w-100">
              <app-multi-select-dropdown [list]="filteredStations" [type]="'Station'"
              (shareCheckedList)="shareCheckedList($event)"
              (shareIndividualCheckedList)="onSelectStations($event)">
              </app-multi-select-dropdown>
            </div>
					</div>
				</div>
			</ng-container>
			<div style="max-height:80%; width:70%;" class="my-auto">
				<div *ngIf="chart" [chart]="chart" style="height: 232px; width:57em;" class="chart-container"></div>
				<div class="station-data-options">
					<div *ngFor="let weatherOptions of stationWeatherParameters" class="station-data-sub-options p-2"
						[class.clicked]="toggleDataParameter(weatherOptions.text)"
						(click)="updateChart(weatherOptions)">
						{{ weatherOptions.text }}
					</div>
					<!-- <button mat-button style="background-color:#4050b5; color:white; margin:0px 10px 0px 10px;">
						Historical Data
					</button> -->
				</div>
			</div>
		</div>
	</div>
</div>
