<table style="width: 100%; background: linear-gradient(to top, #09203f 0%, #537895 100%);">
  <tbody>
    <tr>
      <td style="width: 8%; padding: 10px 0px 17px 25px;" align="left">
      </td>
      <td style="text-align: center; padding: 20px; width: 90%">
        <table style="width: 100%">
          <tbody>
            <tr>
              <td>
                <label style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 20px;
                  ">
                  IMD Rainfall Information System <img width="100px" style="margin-left: 10px;"
                  src="/assets/images/logoimage.png"></label>
              </td>
            </tr>
            <tr>
              <td>
                <label style="
                    color: white;
                    vertical-align: middle;
                    font-family: Arial;
                    font-weight: bolder;
                    font-size: 18px;
                  ">
                  Hydromet Division</label>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <div class="button">
          <button class="Back" type="button" routerLink="../front-page">Back</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="sidebar">
  <a [ngClass]="{'active': isSelected('station-log')}" (click)="selectMenuItem('station-log')" routerLink="station-log">Station Log</a>
  <a [ngClass]="{'active': isSelected('reports-log')}" (click)="selectMenuItem('reports-log')" routerLink="reports-log">Reports Log</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
