/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* body{
  background-image: url(../src/assets/images/natsuki-4DsowKunk84-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
 */
