<div class="background-image">
  <app-header></app-header>
  <app-navbar></app-navbar>

  <div style="margin: 30px 0px 20px 0px;">
    <div class="values">
      <label for="date" id="date_label">Enter Date : </label>
      <select id="date" type="text" [(ngModel)]="date" (ngModelChange)="setDateMonthYear()">
        <option [value]="dt" *ngFor="let dt of allDaysInMonth">{{dt}}</option>
      </select>

      <label for="month" id="month_label"> Enter Month : </label>
      <select id="month" type="text" [(ngModel)]="month" (ngModelChange)="setDateMonthYear()">
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>

      <label for="year" id="year_label">Enter Year : </label>
      <select id="year" type="text" [(ngModel)]="year" (ngModelChange)="setDateMonthYear()">
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
      </select>

      <button type="button" class="load" routerLinkActive='active' routerLink="/front-page/departure">Departure Map</button>
      <button type="button" class="load" routerLinkActive='active' routerLink="/front-page/weekly-departure">Weekly Dep Map</button>
      <button type="button" class="load" routerLinkActive='active' routerLink="/front-page/normal">Normal Map</button>
      <button type="button" class="load" routerLinkActive='active' routerLink="/front-page/daily">Daily Map</button>

    </div>
  </div>

  <router-outlet></router-outlet>
</div>
