<div class="background-image">
  <app-header></app-header>
  <app-navbar></app-navbar>

  <div style="margin-bottom: 20px">
    <div class="values">
      <label for="date" id="date_label">Enter Date : </label>
      <input id="date" type="text" [(ngModel)]="inputValue" />
      <label for="month" id="month_label"> Enter Month : </label>
      <select id="month" type="text" [(ngModel)]="inputValue1" default="Enter a value">
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <button id="load" (click)="getDepartureMap()">Get Departure Map</button>
      <button id="load" (click)="getNormalMap()">Get Normal Map</button>
      <button id="load" (click)="getDailyMap()">Get Daily Map</button>
      <!-- <button id="load" (click)="onSelect('Normal')">Get Normal Map</button>
      <button id="load" (click)="onSelect('Daily')">Get Daily Map</button> -->
    </div>
  </div>

  <router-outlet></router-outlet>
</div>