<!-- <div class="background-image">
  <app-header></app-header>
  <div
    style="
      text-align: center;
      background-color: blanchedalmond;
      color: red;
      font-weight: bolder;
    "
  >
    iRAINS System is in experimental mode!
  </div>
  <app-navbar></app-navbar>
  <div class="values container-fluid">
    <div class="row">
      <div class="col-md-5 col-sm-3">
        <label>From Date</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="fromDate"
          (ngModelChange)="validateDateRange()"
          placeholder="Select date"
        />
      </div>
      <div class="col-md-5 col-sm-3">
        <label>To Date</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="toDate"
          (ngModelChange)="validateDateRange()"
          placeholder="Select date"
        />
      </div>
      <div class="col-md-2 col-sm-3">
        <button
          type="button"
          class="btn btn-primary mt-4"
          (click)="setFromAndToDate()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div> -->

<div class="background-image">
    <app-header></app-header>
    <div class="text-center bg-blend-lighten" style="color: red; font-weight: bolder;">
        iRAINS System is in experimental mode!
    </div>
    <app-navbar></app-navbar>
    <div class=" row mt-4 me-2" style="
     position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
    z-index: 9999; /* Sit on top */
    " *ngIf="isSlider">
        <!-- <div id="slidingMap"></div> -->
        <!-- <div class="col-4"></div> -->
        <div class="col-12">
            <div class="map-container">
                <div class="map-frame">
                    <div id="slidingMap" style="
        width: 100%;
        height: 90vh;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        text-align: center;
        margin: 10px;
        box-shadow: 10px 15px 10px 2px rgba(0,0,0,.8);
      ">
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td style="width: 15%; text-align: center; margin-left: 20px ">
                                        <img class="logo" src="/assets/images/IMDlogo_Ipart-iris.png" alt="" />
                                    </td>
                                    <td style="text-align: center; width: 72%">
                                        <table style="width: 100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 15px;
                        ">
                        DISTRICT RAINFALL DEPARTURE MAP {{currentSlideName}}</label>
                                                    </td>
                                                </tr>
                                                <tr>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 12px;
                        ">
                        INDIA METEOROLOGICAL DEPARTMENT, NEW DELHI</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <img style="margin: 15px 0 0 7px; width: 100px; height: 100px;" src="../../assets/images/—Pngtree—compass_6028609.png" alt="">
                                    </td>
                                    <td style="width: 30%;">
                                        <div style="display: flex; flex-direction: column; margin-right: 10px; text-align: left;">
                                            <div style="display: flex; flex-direction: row;">
                                                <button class="download" (click)="toggleSlider()">Close</button>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                </tr>
                            </tbody>
                        </table>
                        <div class="leaflet-bottom leaflet-left">
                            <table class="info_legend leaflet-control" style="width: 98%; height: 30px; margin-bottom: 20px">
                                <tbody>
                                    <tr align="center">
                                        <td width="5px"></td>
                                        <td style="background-color: #0096ff; width: 10px"></td>
                                        <td style="font-size: 10px; color: black; font-weight: 800">
                                            Large Excess [60% or more]
                                        </td>
                                        <td width="5px"></td>
                                        <td style="background-color: #32c0f8; width: 10px"></td>
                                        <td style="font-size: 10px; color: black; font-weight: 800">
                                            Excess [20% to 59%]
                                        </td>
                                        <td width="5px"></td>
                                        <td style="background-color: #00cd5b; width: 10px"></td>
                                        <td style="font-size: 10px; color: black; font-weight: 800">
                                            Normal [-19% to 19%]
                                        </td>

                                        <td width="5px"></td>
                                        <td style="background-color: #ff2700; width: 10px"></td>
                                        <td style="font-size: 10px; color: black; font-weight: 800">
                                            Deficient [-59% to -20%]
                                        </td>

                                        <td width="5px"></td>
                                        <td style="background-color: #ffff20; width: 10px"></td>
                                        <td style="font-size: 10px; color: black; font-weight: 800">
                                            Large Deficient [-99% to -60%]
                                        </td>
                                        <td width="5px"></td>
                                        <td style="background-color:#ffffff;  width: 10px"></td>
                                        <td style="font-size: 10px; color: black; font-weight: 800">
                                            No Rain [-100%]
                                        </td>
                                        <td style="background-color: #c0c0c0; width: 10px"></td>
                                        <td style="font-size: 10px; color: black; font-weight: 800">
                                            No Data
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="values container">
        <div class="row">
            <div class="col-md-5">
                <label class="form-label">From Date</label>
                <input type="date" class="form-control" [(ngModel)]="fromDate" (ngModelChange)="validateDateRange()" placeholder="Select date" />
            </div>
            <div class="col-md-5">
                <label class="form-label">To Date</label>
                <input type="date" class="form-control" [(ngModel)]="toDate" (ngModelChange)="validateDateRange()" placeholder="Select date" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary mt-md-4 mt-2" (click)="setFromAndToDate()">
          Submit
        </button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>