<div class="background-effect">
  <table style="width: 100%; background: linear-gradient(to top, #09203f 0%, #537895 100%);">
    <tbody>
      <tr>
        <td style="width: 8%; padding: 10px 0px 17px 25px;" align="left">
        </td>
        <td style="text-align: center; padding: 20px; width: 90%">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td>
                  <label style="
                      color: white;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 20px;
                    ">
                    IMD Rainfall Information System <img width="100px" style="margin-left: 10px;"
                      src="/assets/images/logoimage.png"></label>

                </td>
              </tr>
              <tr>
                <td>
                  <label style="
                      color: white;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 18px;
                    ">
                    Hydromet Division</label>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <div class="button">
            <button class="Back" (click)="goBack()">Back</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="navbar">
    <app-multi-select-dropdown [list]="regionList" [type]="'Region'" (shareCheckedList)="onChangeRegion($event)">
    </app-multi-select-dropdown>

    <app-multi-select-dropdown [list]="filteredMcs" [type]="'MC'" (shareCheckedList)="onChangeMc($event)">
    </app-multi-select-dropdown>

    <app-multi-select-dropdown [list]="filteredStates" [type]="'State'" (shareCheckedList)="onChangeState($event)">
    </app-multi-select-dropdown>

    <app-multi-select-dropdown [list]="filteredDistricts" [type]="'District'"
      (shareCheckedList)="onChangeDistrict($event)">
    </app-multi-select-dropdown>

    <div class="col-3">
      <div class="values">
        <div class="row">
          <div class="col-md-5 col-sm-3">
            <label>From Date</label>
            <input type="date" class="form-control" [(ngModel)]="fromDate" (ngModelChange)="validateDateRange()"
              placeholder="Select date" />
          </div>
          <div class="col-md-5 col-sm-3">
            <label>To Date</label>
            <input type="date" class="form-control" [(ngModel)]="toDate" (ngModelChange)="validateDateRange()"
              placeholder="Select date" />
          </div>

        </div>
      </div>
    </div>
    <div class="col-1 mt-3">
      <button class="btn btn-success" type="button" (click)="submit()">Submit</button>
    </div>
  </div>

  <div style="text-align: center; padding-top: 40px">
    <div class="dataentry">
      <button class="btn btn-primary mb-2" type="button" (click)="download()">Download</button>
      <table style=" margin: auto; border-collapse: collapse; width: 90%; border: 1px solid black;">
        <thead>
          <tr>
            <th style="border: 1px solid black">S No.</th>
            <th style="border: 1px solid black">Region</th>
            <th style="border: 1px solid black">State</th>
            <th style="border: 1px solid black">District</th>
            <th style="border: 1px solid black">Station</th>
            <th style="border: 1px solid black">Date</th>
            <th style="border: 1px solid black">Rainfall(mm)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredStations; let i = index;">
            <td style="border: 1px solid black">{{i+1}}</td>
            <td style="border: 1px solid black">{{item.region}}</td>
            <td style="border: 1px solid black">{{item.state}}</td>
            <td style="border: 1px solid black">{{item.district}}</td>
            <td style="border: 1px solid black">{{item.station}}</td>
            <td style="border: 1px solid black">{{item.date}}</td>
            <td style="border: 1px solid black">{{item.rainfall}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>