.Back{
  background-color: #002467;
  padding: 10px;
  margin: 6px;
  width: 120px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  color: white;
  top: 2px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.Back:hover{
  color: #002467;
  font-weight: 600;
  background-color: white;
  border-color: #002467;
  border-width: 2px;
  box-shadow: none;
}
.button{
  text-align: center;
}

.popup {
  position: fixed;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border: 1px solid black;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  border: none;
  background: transparent;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 201px;
  /* padding: 1px 16px;
  height: 1000px; */
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
