<div class="background-effect">
  <table style="width: 100%; background: linear-gradient(to top, #09203f 0%, #537895 100%);">
    <tbody>
      <tr>
        <td style="width: 8%; padding: 10px 0px 17px 25px;" align="left">
        </td>
        <td style="text-align: center; padding: 20px; width: 90%">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td>
                  <label style="
                      color: white;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 20px;
                    ">
                    IMD Rainfall Information System (IRIS)</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="
                      color: white;
                      vertical-align: middle;
                      font-family: Arial;
                      font-weight: bolder;
                      font-size: 18px;
                    ">
                    Hydromet Division</label>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <div class="button">
            <button class="Back" (click)="goBack()">Back</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-tab-group>
  <mat-tab label="Email"> Content 1 </mat-tab>
  <mat-tab label="Auto Email"> Content 2 </mat-tab>
  <mat-tab label="Email Group"> Content 3 </mat-tab>
</mat-tab-group>
