<div class="nav-tabs-custom col-md-8">
  <div style="border: #333 1px ridge; overflow: hidden">
    <div class="values">
      <label for="date" id="date_label">Enter Date : </label>
      <input id="date" type="text" [(ngModel)]="inputValue" />
      <label for="month" id="month_label"> Enter Month : </label>
      <select id="month" type="text" [(ngModel)]="inputValue1" default="Enter a value">
        <option value="Jan">January</option>
        <option value="Feb">February</option>
        <option value="Mar">March</option>
        <option value="Apr">April</option>
        <option value="May">May</option>
        <option value="Jun">June</option>
        <option value="Jul">July</option>
        <option value="Aug">August</option>
        <option value="Sep">September</option>
        <option value="Oct">October</option>
        <option value="Nov">November</option>
        <option value="Dec">December</option>
      </select>

      <button id="load" (click)="loadGeoJSON1()">Get Normal Map</button>
    </div>

    <div id="map_canvas" style="
        width: 100%;
        height: 590px;
        float: left;
        position: relative;
        outline: none;
      " class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
      tabindex="0">
      <table style="width: 100%">
        <tbody>
          <tr>
            <td style="width: 15%; text-align: center">
              <img class="logo" src="/assets/images/IMDlogo_Ipart-iris.png" alt="" />
            </td>
            <td style="text-align: center; width: 72%">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td>
                      <label style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 15px;
                        ">
                        INDIA STATE NORMALS (mm)</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 14px;
                        ">
                        Date : {{ inputValue }}</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 12px;
                        ">
                        1992-2022</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label style="
                          color: black;
                          vertical-align: middle;
                          font-family: Arial;
                          font-weight: bolder;
                          font-size: 12px;
                        ">
                        INDIA METEOROLOGICAL DEPARTMENT</label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td style="width: 30%">
              <label style="
                  color: black;
                  vertical-align: middle;
                  font-family: Arial;
                  font-weight: bolder;
                  font-size: 12px;
                  text-align: center;
                ">
                IMD, NEW DELHI</label>
              <button class="download" (click)="downloadMapImage()">
                Download
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="leaflet-bottom leaflet-right">
        <table class="info_legend leaflet-control" style="width: 98%; height: 30px">
          <tbody>
            <tr align="center">
              <td width="5px"></td>
              <td style="background-color: #0096ff; width: 10px"></td>
              <td style="font-size: 10px; color: black; font-weight: 800">
                Large Excess [60% or more]
              </td>
              <td width="5px"></td>
              <td style="background-color: #32c0f8; width: 10px"></td>
              <td style="font-size: 10px; color: black; font-weight: 800">
                Excess [20% to 59%]
              </td>
              <td width="5px"></td>
              <td style="background-color: #00cd5b; width: 10px"></td>
              <td style="font-size: 10px; color: black; font-weight: 800">
                Normal [-19% to 19%]
              </td>

              <td width="5px"></td>
              <td style="background-color: #ff2700; width: 10px"></td>
              <td style="font-size: 10px; color: black; font-weight: 800">
                Deficient [-59% to -20%]
              </td>

              <td width="5px"></td>
              <td style="background-color: #ffff20; width: 10px"></td>
              <td style="font-size: 10px; color: black; font-weight: 800">
                Large Deficient [-99% to -60%]
              </td>
              <td width="5px"></td>
              <td style="background-color: #ffffff; width: 10px"></td>
              <td style="font-size: 10px; color: black; font-weight: 800">
                No Rain [-100%]
              </td>
              <td style="background-color: #c0c0c0; width: 10px"></td>
              <td style="font-size: 10px; color: black; font-weight: 800">
                No Data
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
